:root {
  --font-family-main: consolas, 'Times New Roman', 'sans-serif';
  --font-size-sm: 12px;
  --font-line-height-sm: 20px;
  --font-sm: var(--font-size-sm) / var(--font-line-height-sm) var(--font-family-main);
  --font-size-md: 16px;
  --font-line-height-md: 24px;
  --font-md: var(--font-size-md) / var(--font-line-height-md) var(--font-family-main);
  --font-size-lg: 24px;
  --font-line-height-lg: 32px;
  --font-lg: var(--font-size-lg) / var(--font-line-height-lg) var(--font-family-main);

  // Размеры
  --navbar-height: 68px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // z - Индексы
  --modal-z-index: 10;

  // Цвета
  --overlay-color: rgba(0 0 0 / 60%);
  --red-light: #ef5b57;
  --red-dark: #d9534f;
  --green: #009688;
  --green-hover: rgb(0 150 136 / 8.2%);
}