.Button {
  cursor: pointer;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.contained.primary {
  background: var(--inverted-bg-color);
  color: var(--primary-color);
  border-color: var(--inverted-bg-color);
}

.outlined.primary {
  background: none;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.outline.error {
  background: none;
  color: var(--red-dark);
  border-color: var(--red-dark);
}


// .outline {
//   border: 1px solid var(--primary-color);
//   color: var(--primary-color);
//   background: none;
// }

// .error {
//   background-color: var(--red-dark);
//   color: var(--primary-color);
//   border-color: var(--red-dark);
// }

.size_small {
  font: var(--font-sm);
}

.size_medium {
  font: var(--font-md);
}

.size_large {
  font: var(--font-lg);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.clear,
.clearInverted {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square {
  padding: 0;
}

.square.size_small {
  width: var(--font-line-height-sm);
  height: var(--font-line-height-sm);
}

.square.size_medium {
  width: var(--font-line-height-md);
  height: var(--font-line-height-md);
}

.square.size_large {
  width: var(--font-line-height-lg);
  height: var(--font-line-height-lg);
}

.disabled {
  opacity: 0.5;
  cursor: default;
}