.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  padding: 0 14px 10px;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  column-gap: 12px;
  padding: 0 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    justify-content: center;
  }

  .item {
    padding: 0;
    justify-content: center;
  }
}

.collapseBtn {
  position: absolute;
  right: -42px;
  bottom: 10px;
}