.items {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 16px;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--primary-color);
}

.collapsed {
    .link {
        margin: 0;
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}