.app_dark_theme {
  --bg-color: #0d1117;
  --inverted-bg-color: #fdfdfd;
  --primary-color: #e6edf3;
  --secondary-color: #96adcf;
  --inverted-primary-color: #242424;
  --inverted-secondary-color: #798786;
}
