.app_dark_theme {
  --bg-color: #0e1b23;
  --inverted-bg-color: #060d12;
  --primary-color: #d5d9e9;
  --secondary-color: #e4e8f7;
  --inverted-primary-color: #242424;
  --inverted-secondary-color: #798786;
}
