.app_light_theme {
  --bg-color: #eef2f6;
  --inverted-bg-color: #ffffff;
  --primary-color: #121926;
  --secondary-color: #697586;
  --inverted-primary-color: #212b36;
  --inverted-secondary-color: #96adcf;
}
