:root {
  --font-family-main: Consolas, 'Times New Roman', 'sans-serif';

  --font-size-md: 16px;
  --font-line-height-md: 24px;
  --font-md: var(--font-size-md) / var(--font-line-height-md)
    var(--font-family-main);

  --font-size-lg: 24px;
  --font-line-height-lg: 32px;
  --font-lg: var(--font-size-lg) / var(--font-line-height-lg)
    var(--font-family-main);
}
