.navbar {
  width: 100%;
  max-height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 14px 20px;
}

.links {
  margin-left: auto;
}

.links a {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}
