.profileCard {
    display: flex;
    flex-direction: column;
    padding: 6px 20px 20px;
    width: 100%;
    max-width: 400px;
    gap: 4px;

    .editForm .input {
        margin-bottom: 12px;
    }

    .loading,
    .error {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.error {
        max-width: 550px;
    }
}