.AppLink {
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);

  &:hover {
    color: var(--green);
    background-color: var(--green-hover)
  }
}

.red {
  color: red;
}